---
import { getContentSubCategories, toUriComponents } from "../../utils";
import { getArticles } from "../../utils";

const collections = await getArticles();
const categories = getContentSubCategories(collections);
---
<link rel="stylesheet" href="styles/category-hero.css">

<div class="main-container">
  <div id="category-container" class="category-container horizontal-layout">
    {
      categories.map((cat) => (
        <span class="list">
          <input
            type="radio"
            name="category"
            id={`Category ${cat.category}`}
            data-category={cat.category}
          />
          <div class="label-desc">
            <label for={`Category ${cat.category}`}>{cat.category}</label>
            <a
              href={`/category/${toUriComponents(cat.category)}`}
            >
              <button>Lebih Lanjut</button>
            </a>
          </div>
        </span>
      ))
    }
  </div>
  {
    categories.map((cat) => (
      <div class="sub-container hidden" data-category={cat.category}>
        {`Sub Kategori ${cat.category}`}

        <div class="sub-link">
          {cat.subCategories.map((sub) => {
            const category = cat.category.split(" ").join("-").toLowerCase();
            const subCategory = sub.split(" ").join("-").toLowerCase();
            const link = `/category/${category}/${subCategory}`;

            return <a href={link}>{sub}</a>;
          })}
        </div>
      </div>
    ))
  }
</div>
<button id="reset-button" class="reset-button hidden">Reset</button>

<script src="/scripts/category-hero.js" defer></script>