---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import { Icon } from "astro-icon/components";
import ImageHero from "../components/atoms/ImageHero.astro";
import ContainerArticle from "../components/organisms/ContainerArticle.astro";
import ArticleBlogMeta from "../components/molecules/ArticleBlogMeta.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage = "/notfound-image.png",
  author = "Anonymous",
  tags,
  category,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={heroImage}
      author={author || "Anonymous"}
      tags={tags}
    />
    <style>
      main {
        max-width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 5% auto 30%;
      }

      @media (max-width: 720px) {
        main {
          width: 100%;
          display: block;
          padding: 0;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <div></div>
      <ContainerArticle>
        <h1 class="title">{title}</h1>

        <ImageHero
          heroImage={heroImage}
          pubDate={pubDate}
          title={title}
          updatedDate={updatedDate}
        />

        <ArticleBlogMeta author={author} category={category} tags={tags} />

        <slot />
      </ContainerArticle>
      <section></section>
    </main>
    <Footer />
  </body>
</html>
